body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  margin: 0%;
  padding: 0;
  color: #304962;
  
  
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  
  top: 0;
  z-index: -100;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  
}


.button-navbar:hover{
  background: #34524a;
  cursor:crosshair;
}
.section-potato {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -1;
}

.potatotitle {
  font-weight: 300;
 font-size: 8rem;
 line-height: 8rem;
 width: 100rem;
 transform: translate(1rem, -8rem);

}

.potatosubtitle {
font-size: 5rem;
font-weight: 300;
transform: translate(20rem, -17rem);
position: absolute;
}

.secondpotato {
  font-size: 20px;
 
 background: #97D8C4;
  
}

.thirdpotato {
  font-size: 20px;
  justify-content: flex-end;
  position: relative;
  width: auto;
}

.fourthpotato {
  justify-content: flex-end;
  /* position: relative; */
  font-size: 24px;
  
  background-color: #97D8C4;
}

.section-one-container-potato {
  margin-top: 10rem;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 300px;
  text-align: center;
  margin-left:110px;
  position: relative;
}

.section-two-container-potato {
  font-family: 'Quicksand', sans-serif;
  width: 70rem;
  height: 40rem;
  /* opacity: 0; */
  text-align: center;
  left: 3rem;
  position: relative;
  font-size: 1.4rem;
  line-height: 2.5;
  
}


.section-three-container-potato {
  border: #304962;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 1rem;
  font-family: 'Quicksand', sans-serif;
  width: 600px;
  text-align: center;
  /* opacity: 0; */
  transform: translate();
  left: 4rem;
  position:absolute;
  padding: 2rem;
}
.sectionthreetitle {
 text-align: center;
 width: auto;
 font-size: 2rem;

 
}

.section-four-container-potato {
  font-family: 'Quicksand', sans-serif;
  width: 50rem;
  text-align: center;
  transform: translate( 0rem, -10rem);
  /* margin-right: -200px; */
  /* opacity: 0; */
 
}

.titlepotato {
  text-align: center;
}

.button-cart {
  font-family: 'Quicksand', sans-serif;
  background: red;
  color:white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 130px;
}

.addToCartButton{
  z-index: 100;
}

.plate {
  position: absolute;
  z-index: -1000;
  transform: translate( -42rem, -1rem ) scale(2, 2);
  
}

