body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  margin: 0%;
  padding: 0;
  color: #304962;
  
  
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  
  top: 0;
  z-index: -100;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  
}


.button-navbar:hover{
  background: #34524a;
  cursor:crosshair;
}
.section-potato {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -1;
}

.potatotitle {
  font-weight: 300;
 font-size: 8rem;
 line-height: 8rem;
 width: 100rem;
 transform: translate(1rem, -8rem);

}

.potatosubtitle {
font-size: 5rem;
font-weight: 300;
transform: translate(20rem, -17rem);
position: absolute;
}

.secondpotato {
  font-size: 20px;
 background: #97D8C4;
  
}

.thirdpotato {
  font-size: 20px;
  justify-content: flex-end;
  position: relative;
  width: auto;
}

.fourthpotato {
  justify-content: flex-end;
  /* position: relative; */
  font-size: 24px;
  
  background-color: #Eff2f1;
}

.section-one-container-potato {
  margin-top: 10rem;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 300px;
  text-align: center;
  margin-left:110px;
  position: relative;
}

.section-two-container-potato {
  font-family: 'Quicksand', sans-serif;
  width: 70rem;
  height: 40rem;
  /* opacity: 0; */
  text-align: center;
  left: 3rem;
  position: relative;
  font-size: 1.2rem;
  line-height: 2.5;
  
}

.potatotextone {
width: 30rem;
transform: translate(-3rem, -7rem);
}
.potatotexttwo {
  width: 30rem;
  transform: translate(40rem,-25rem);
}

.potatotextthree {
  width: 30rem;
  transform: translate( 3rem, -26rem);
}
.title2 {
  color: white;
}
.section-three-container-potato {
  border: #304962;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 1rem;
  font-family: 'Quicksand', sans-serif;
  width: 600px;
  text-align: center;
  /* opacity: 0; */
  transform: translate();
  left: 4rem;
  position:absolute;
  padding: 2rem;
}
.sectionthreetitle {
 text-align: center;
 width: 100rem;
 font-size: 7.1rem;
 left: 0;
 position: absolute;
 transform: translate(12rem, -30rem);
}

.section-four-container-potato {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.titlepotato {
  text-align: center;
}

.button-cart {
  font-family: 'Quicksand', sans-serif;
  background: red;
  color:white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 130px;
}

.addToCartButton{
  z-index: 100;
}

.plate {
  position: absolute;
  z-index: -1000;
  transform: translate( -42rem, -1rem ) scale(2, 2);
  
}

.potato1 {
  height: 29rem;
  left: 0;
  transform: translate(0rem, -33rem);
  position: absolute;
  opacity: 0;
}

.potato2 {
  height: 29rem;
  position: absolute;
  left: 0;
  transform: translate(25rem, -20rem);
  opacity: 0;
}

.potato3 {
  height: 40rem;
  position: absolute;
  left: 0;
  transform: translate(0rem, -10rem);
  opacity: 0;
}

.potato4 {
  height: 29rem;
  position: absolute;
  right: 0;
  transform: translate(-65rem, 4rem);
  opacity: 0;
}

.potato5 {
height: 29rem;
position: absolute;
right: 0;
transform: translate(-25rem, 0rem);
opacity: 0;
}

.potato6 {
  height: 29rem;
  position: absolute;
  right: 0;
  transform: translate(0rem, -10rem);
  opacity: 0;
}

.potato7 {
  height: 29rem;
  position: absolute;
  right: 0;
  transform: translate(-14rem, -30rem);
  opacity: 0;
}

.endingtitle {
  font-size: 9rem;
  font-weight: 300;
  color: #6B9AC4;
  transform: translate(15rem, 0rem);
  /* opacity: 0; */
}

.endingsubtitle{
  font-size: 8rem;
  font-weight: 100;
  color: #6B9AC4;
  transform: translate(10rem,0rem);
}
.potatobutton {
  color: white;
}

.button-potato-page {
  width: 30rem;
  transform: translate(60rem, 7rem);
  display: flex;
  justify-content: space-between;
}