body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  margin: 0%;
  padding: 0;
}

.navbar-button {
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
}

.button-navbar:hover {
  background: #34524a;
  cursor: crosshair;
}

.logo {
  margin-left: 40px;
}

.section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -1;
}

section:nth-of-type(odd) {
  /* Apply your styles */
  background-color: #000; /* Example color */
}

h1 {
  font-size: 10rem;
  line-height: 8rem;
}

.second {
  justify-content: flex-end;
  position: relative;
}

.section-two {
  font-family: "Quicksand", sans-serif;
  width: 600px;
}

.section-three {
  font-family: "Quicksand", sans-serif;
  width: 600px;
  /* margin-top: 300px; */
  /* margin-right: -600px; */
  text-align: center;
  /* opacity: 0; */
}

.section-four {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-right: -200px;
  /* opacity: 0; */
}

.section-five {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-right: -200px;
}

.section-six {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-right: -200px;
}

.title {
  text-align: center;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
