html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  margin: 0%;
  padding: 0;
}

.navbar-button {
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
}

.button-navbar:hover {
  background: #34524a;
  cursor: crosshair;
}

.logo {
  margin-left: 40px;
}

.section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -1;
  scroll-snap-align: start;
}

.grey {
  background-color: #f4b942;
}

h1 {
  font-size: 10rem;
  line-height: 8rem;
}

.second {
  justify-content: flex-end;
  position: relative;
}
.section-one {
  font-family: "Quicksand", sans-serif;
  width: 600px;
  color: EFF2F1;
  margin-left: 10%;
}

.text-border {
  color: black;
  text-shadow: -2px -2px 0 #eee, 2px -2px 0 #eee, -2px 2px 0 #eee,
    2px 2px 0 #eee;
}

.section-two-left {
  font-family: "Quicksand", sans-serif;
  width: 600px;
  color: black;
  width: 300px;
}

.section-two-left h4 {
  padding: 0;
  margin: 0;
}

.section-two-right {
  font-family: "Quicksand", sans-serif;
  width: 600px;
  color: black;
  margin-right: 15%;
  width: 300px;
}

.section-three-top {
  font-family: "Quicksand", sans-serif;
  width: 600px;
  text-align: center;
}

.section-three-bottom {
  font-family: "Quicksand", sans-serif;
  width: 600px;
  text-align: center;
}

.third h2 {
  font-size: 4rem;
  width: 100vw;
}

.section-four-top {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-right: -200px;
  color: black;
}

.section-four-bottom {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-right: -200px;
  color: black;
}

.section-five-left {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-left: 7%;
  margin-bottom: 500px;
}

.section-five-right {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-left: 30%;
  margin-bottom: 5%;
}

.section-six {
  font-family: "Quicksand", sans-serif;
  width: 360px;
  margin-right: -200px;
  color: black;
}

.title {
  text-align: center;
}

.title-color-black {
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.black-text {
  color: #304962;
  font-weight: bold;
}

.add-to-cart {
  padding-top: 15%;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
