.body-phone {
  font-family: sans-serif;
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
  color: black;
}

.nav-bar {
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.section-phone {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: -1;
  color: black
  position: relative;
}

.power-up {
  float: left;
  width: 10%;
  margin-left: -10%;
}
.elevate-photography {
  float: right;
  width: 40rem;
  /* margin-top: 50px; */
  transform: translate(70rem, -10rem);
  font-size: 1.4rem;
  text-align: center;
}

.craftsmanship-section {
  float: left;
  width: 30%;
  margin-top: 50px;
  transform: translate(80rem, -10rem);
  font-size: 1.4rem;
  text-align: center;
}
.selfie-section {
  float: left;
  width: 30%;
  transform: translate(3rem, -1rem);
  font-size: 2.0rem;
  text-align: center;
}

.Brilliance {
  width: 40%;
  /* margin-right: 10%; */
  transform: translate(70rem, 0rem);
  font-size: 1.5rem;
  text-align: center;
}

.second-phone {
  position: relative;
  /* margin-left: 150%; */
  /* margin-top: -200px; */
  max-width: 100%;
  /* transition: margin-left 1.5s ease; */
  background-color: #c2ab81;
  color: black;
}

.third-phone {
  position: relative;
  margin-top: 130px;
  width: 100%;
  color: black;
}

.fourth-phone {
  position: relative;
  /* margin-left: 200%; */
  width: 100vw;
  background-color: #c2ab81;
  height: 100vh;
  color: black;
}

.fifth-phone {
  position: relative;
  width: 100%;
  color: black;
}

.sixth-phone {
  position: relative;
  /* margin-left: 100%; */
  width: 100%;
  background-color: #c2ab81;
  color: black;
}

.h1-phone {
  margin-left: 15%;
  font-size: 8rem;
  line-height: 8rem;
}

#iphone-heading {
    font-size: 5.3rem; 
    line-height: 4rem; 
    color: #000000; 
  }
  

.h2-phone {
  font-size: 1.2rem;
  line-height: 2rem;
}

.p-phone {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.button-navbar {
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
}
.section-two-container {
  font-family: "Quicksand", sans-serif;
  width: 460px;
  position: absolute;
  /* transform: translateX(-480%); */
  z-index: 1000;
  transform: translate(10rem, -15rem );
  font-size: 1.4rem;
  text-align: center;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

#last-h1 {
  position: fixed;
  bottom: 600px; 
  left: 35%;
  transform: translateX(-50%);
  z-index: 1000; 
}

.fixed-button {
  position: fixed;
  bottom: 400px; 
  left: 500px; 
  transform: translateY(50%);
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
}

.phone-buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 100px; 
    left: 0; 
    right: 800px; 
  }
  
  .phone-buttons button {
    margin: 0 10px; 
  }

.additional-title {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
  }
  
  .seventh-phone {
    position: relative;
    width: 100%;
  }
  
  .additional-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    font-size: 38px;
  }


  .battery-img {
    width: 200px; 
    height: auto; 
    position: absolute;
    top: 50%; 
    right: -220%; 
    transform: translate(50%, -50%); 
  }
  
  .cameleon-img {
    width: 300px; 
    height: auto; 
    transform: translateY(50px);
  }
  
  .landscape-img {
    width: 400px; 
    height: auto; 
    transform: translateY(80px); 
  }
  
  
.iphone-img {
    width: 450px; 
    height: auto; 
    position: absolute;
    left: -15%; 
    transform: translate(20rem, 15rem);
  }
  
  .selfie-img {
    width: 350px; 
    height: auto; 
  }
  
  .graphiccard-img {
    width: 350px; 
    height: auto; 
    position: absolute;
    left: -550px; 
    transform: translateX(-50%);
    top: -20px; 
  }
  