.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: black;
}

.cart h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.checkout p {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.checkout button:hover {
  background-color: #333;
}

.cartItem:hover {
  transform: translateY(-5px);
}

.product-table {
  font-family: Arial, sans-serif;
}

.thankyou {
color: black;
transform: translate(42rem);
}