.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cart-item:hover {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 50vw;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  margin: 30px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item .name {
  flex-grow: 1;
}

.cart-item p {
  margin: 0;
}

/* .cart-item button {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 5px 15px;
  margin: 4px 2px;
  cursor: pointer;
} */

.cart-item .countHandler input {
  width: 40px;
  text-align: center;
}

.cart-subtotal {
  font-size: x-large;
  margin-left: 20%;
}

.cart-img {
  margin-left: 50px;
}

.countHandler {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  transform: translate(-5rem);
}

.countHandler input[type="number"]::-webkit-outer-spin-button,
.countHandler input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.minus {
  /* width: 1rem; */
  background-color: black(253, 63, 63);
  color: white;
  padding: 5px 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4rem;
}

.plus {
  background-color: black(48, 48, 255);
  color: white;
  padding: 5px 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4rem;
}